<div class="container">
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
				Toggle Odd/Even
			</button>

			<ul class="list-group" *ngIf="onlyOdd">
				<li class="list-group-item"
					[ngClass]="{odd: odd % 2 !== 0}"
					[ngStyle]="{backgroundColor:odd % 2 !== 0?'yellow':'transparent'}"
					*ngFor="let odd of oddNumbers"
				>
					{{odd}}
				</li>
			</ul>
			<!--			<ul class="list-group" *ngIf="!onlyOdd">-->
			<!--				<li class="list-group-item"-->
			<!--					[ngClass]="{even: even % 2 === 0}"-->
			<!--					[ngStyle]="{backgroundColor:even % 2 === 0?'orange':'transparent'}"-->
			<!--					*ngFor="let even of evenNumbers"-->
			<!--				>-->
			<!--					{{even}}-->
			<!--				</li>-->
			<!--			</ul>-->
			<!--			<ng-template [ngIf]="!onlyOdd">-->
			<!--				&lt;!&ndash; structural directive behind the scenes is transformed to ng-template &ndash;&gt;-->
			<!--				<ul class="list-group">-->
			<!--					<li class="list-group-item"-->
			<!--						[ngClass]="{even: even % 2 === 0}"-->
			<!--						[ngStyle]="{backgroundColor:even % 2 === 0?'orange':'transparent'}"-->
			<!--						*ngFor="let even of evenNumbers"-->
			<!--					>-->
			<!--						{{even}}-->
			<!--					</li>-->
			<!--				</ul>-->
			<!--			</ng-template>-->
			<ul class="list-group" *appUnless="onlyOdd">
				<li
					class="list-group-item"
					*ngFor="let even of evenNumbers"
				>
					{{even}}
				</li>
			</ul>
		</div>
	</div>
	<p appBasicHighlight>Style me with basic directive!</p>
	<p [appBetterHighlight]="'red'" defaultBgColor="yellow">Style me with better directive!</p>

	<div [ngSwitch]="myValue">
		<p *ngSwitchCase="5">Value is 5</p>
		<p *ngSwitchCase="10">Value is 10</p>
		<p *ngSwitchCase="100">Value is 100</p>
		<p *ngSwitchDefault>Value is default</p>
	</div>
</div>
