<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>043 Assignment Practicing Directives</h3>
      <ol>
        <li>Add a button which says 'Display Detail'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button click in an array and output that array below the secret paragraph (maybe log a timestamp
          or simply an incrementing number)
        </li>
        <li>Starting at the 5th log item, give all the future log items a blue background (via ngStyle) and white color
          (via ngClass)
        </li>
      </ol>
      <hr>
      <form class="row row-cols-lg-auto g-3 align-items-center" action="#">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" (click)="showParagraph=!showParagraph">Display Detail</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" (click)="onToggleDetail()">Display Detail with Log</button>
          </div>
        </div>
      </form>
      <p *ngIf="showParagraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, delectus deleniti
        eaque eius enim exercitationem fugit illo impedit ipsam maiores molestiae perspiciatis quisquam recusandae
        rerum, tempore. Eligendi quod repudiandae tempora.</p>
      <div class="row">
        <div class="col-sm-12"
             *ngFor="let l of myLogs; let i=index"
             [ngStyle]="{backgroundColor:i>=4?'blue':'none'}"
             [ngClass]="{'white-text':i>=4}"
        >
          {{'Index ' + i + ' was clicked at ' + l}}
        </div>
      </div>
    </div>
  </div>
</div>

