<div class="row">
	<div class="col-sm-12">
		<button class="btn btn-success">New Recipe</button>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-sm-12">
		<div class="list-group round">
			<a href="#" class="list-group-item list-group-item-action" aria-current="true" *ngFor="let r of recipes">
				<div class="d-flex">
					<div class="flex-grow-1 ms-3 pe-3">
						<h5 class="mb-1">{{r.name}}</h5>
						<p class="mb-1">{{r.description}}</p>
					</div>
					<div class="flex-shrink-0 me-3">
						<img
							[src]="r.imagePath"
							class="img-fluid"
							alt="{{r.name}}"
							style="max-height: 100px;"
						/>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<app-recipe-item></app-recipe-item>
