<div class="row">
	<div class="col-sm-12">
		<button class="btn btn-success">New Recipe</button>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-action" aria-current="true">
				<div class="d-flex">
					<div class="flex-grow-1 ms-3 pe-3">
						<h5 class="mb-1">List group item heading</h5>
						<p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus blanditiis
							deleniti dolores hic illo minus officia quidem. Atque, deleniti fugiat harum illum ipsum
							molestias nihil nulla odit recusandae rerum veniam?</p>
					</div>
					<div class="flex-shrink-0 me-3">
						<img src="https://cookieandkate.com/images/2021/08/grilled-pizza-recipe-2-1.jpg"
							 class="img-fluid" alt="..." style="max-height: 100px;"/>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
<app-recipe-item></app-recipe-item>
