<div class="row">
	<div class="col-sm-12">
		<form>
			<div class="row mb-3">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" class="form-control">
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input type="number" name="amount" id="amount" class="form-control">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-sm-12">
					<button class="me-2 btn btn-success" type="submit">Add</button>
					<button class="me-2 btn btn-danger" type="button">Delete</button>
					<button class="me-2 btn btn-outline-dark" type="reset">Clear</button>
				</div>
			</div>
		</form>
	</div>
</div>
